 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

 * {
 	font-family: 'Raleway', sans-serif;
 	box-sizing: border-box;
 	text-decoration: none;
 	list-style-type: none;
 	padding: 0;
 	margin: 0;
 }

 body {
 	background: #f4f5f9;
 	align-items: center;
 	align-content: center;
 }

 header {
 	display: flex;
 	justify-content: center;
 	height: 80px;
 	align-items: center;
 	padding: 0rem 3.5rem;
 	color: #6a6b6d;
 }

 header h2 {
 	font-size: 2em;
 }

  .formulario h3 {
  padding: 1em;
 }

.formulario {
	width: 400px;
	height: 370px;
	padding: 1em;
	margin: 0 auto;
	border-radius: 3%;
	border: solid;
    border-color: grey;
    border-width: 1px;
}

.formulario input {
	width: 90%;
	height: 2rem;
	margin: 1rem;
	border-radius: 3%;
	border-width: 1px;
	background-color: #f4f5f9;
	padding: 0rem 1rem;
}

.formulario button {
	width: 90%;
	height: 2rem;
	margin: 1rem;
	background-color: #6a6b6d;
	color: #fff;
	border-radius: 3%;
	border-color: #6a6b6d;
}

.formulario button:hover {
	background-color: #654062;
	border-color: #654062;
} 

.formulario p {
	padding: 1em;
	font-size: 13px
}

.flash {
	color: red;
	margin: 1 auto;
}

div.crear {
	text-align: center;
	width: 400px;
	padding: 1em;
	margin: 0 auto;
}

div.crear button {
	margin: 1em;
	width: 50%;
	height: 2em;
	border-radius: 3%;
	background-color: #6f4a8e;
	border-color: #6f4a8e;
	color: #fff;
}

div.crear button:hover {
	background-color: #221f3b;
	border-color: #221f3b;
}

div.pie {
	text-align: center;
	width: 800px;
	padding: 1em;
	margin: 0 auto;
}

div.pie hr {
	color: #6f4a8e;
}

div.pie p {
	color: #6f4a8e;
	font-size: 12px;
	margin: 1em;
}

